<div class="order-block clearfix">
    <div class="order-items clearfix">
        <div class="inner-container clearfix">
            <div class="items-nav back">
                <span class="chevron glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="items">
            </div>
            <div class="items-nav forward">
                <span class="chevron glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
    </div>
</div>