<img src="{{cover.fullsize}}" class="img-responsive img-thumbnail" />
<div class="book-action cover-actions">
    <a href="#" class="btn btn-link"><span class="glyphicon glyphicon-thumbs-up"></span>Recommend</a>
    <a href="#" class="btn btn-link"><span class="glyphicon glyphicon glyphicon-heart"></span>Add to wish list</a>
</div>