<div class="book-full-info container">
    <div class="nav-actions">
        <a href="#" class="btn action-back btn-link"><span class="glyphicon glyphicon-arrow-left"></span>Back to books list</a>
    </div>
    <div class="titles clearfix">
        <div class="line cover text-center col-md-4 cover-region">

        </div>
        <div class="line info col-md-8">
            <div class="description-region">

            </div>
            <div class="additional-blocks">
                <div class="more-from-author">
                    <h5>More from {{authorTitle}}</h5>
                    <div class="more-from-author-region">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book-total clearfix">

    </div>

</div>