<div class="content-container container">
    <div class="bottom-books">
        <div class="layout left-block col-md-9 col-sm-8">
            <div class="central-carousel-region">
            </div>
            <div class="books-container-region">
            </div>
        </div>
        <div class="layout right-block filters filters-region col-md-3 col-sm-4">
        </div>
   </div>
</div>