<div class="content-container container">
    <div class="bottom-books">
        <div class="layout left-block col-md-9">
            <div class="central-carousel-region">
            </div>
            <div class="books-container-region">
            </div>
        </div>
        <div class="layout right-block filters filters-region col-md-3">
        </div>
   </div>
</div>