<div class="row clearfix shopcart-item">
    <div class="col-md-2">
        <img src="{{picture}}" class="item-picture" />
    </div>
    <div class="col-md-7">
        <div class="title">
            {{info.title}}
        </div>
        <div class="sub-title">
            {{info.additional}}
        </div>
    </div>
    <div class="col-md-3">
        <div class="price">
            {{price}}
        </div>
    </div>
</div>