<div class="shopcart">
    <div class="shopcart-items-container">
        <div class="active-items">

        </div>
        <div class="show-more text-center">
            <a href="#">Show full shopcart</a>
        </div>
    </div>
    <div class="actions text-center">

    </div>
</div>