<div class="order-block clearfix">
    <div class="order-items col-md-10 clearfix">
        <div class="inner-container clearfix">
            <div class="items-nav back">
                <span class="chevron glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="items">
            </div>
            <div class="items-nav forward">
                <span class="chevron glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
    </div>
    <div class="summary col-md-2">
        <div class="title">
            {{order.title}}
        </div>
        <div class="status">
            {{order.status}}
        </div>
        <div class="price">
            {{order.price}}
        </div>
        <div class="actions">
            <div class="action-cancel">
                <button class="btn btn-warning">Show extended info</button>

            </div>
            <div class="action-cancel">
                <button class="btn btn-danger">Cancel order</button>
            </div>
        </div>
    </div>

</div>