<div class="profile-main-card">
    <h4>Recently orders</h4>
    <div class="orders-region">

    </div>
    <div class="fill-list-link">
        <a href="#profile/orders">Show full list</a>
    </div>
</div>
<div class="profile-main-card">
    <h4>Your wish list</h4>
    <div class="wishlist-region">

    </div>
    <div class="fill-list-link">
        <a href="#profile/wishlist">Show full list</a>
    </div>
</div>