<div class="container">
    <div id="profileLeftSideRegion" class="col-md-2">

    </div>
    <div class="col-md-10">
        <h3 class="profile-title">User profile</h3>
        <div id="profileMainRegion">

        </div>
    </div>
</div>