<div class="user-profile-card">
    <div class="avatar">
        {{#if user.avatar}}
            <img class="img-rounded img-responsive" src="{{user.avatar}}" />
        {{else}}
            <img class="img-rounded img-responsive" src="static/img/users/default.png" />
        {{/if}}
    </div>
    <div class="user-title">
        {{username}}
    </div>
</div>
<hr/>
<div class="profile-links">
    <a href="#profile/orders">Orders</a>
    <a href="#profile/favbooks">Favorite books</a>
    <a href="#profile/wishlist">Wish list</a>
    <a href="#profile/settings">Settings</a>
</div>